[Unit]
Description=Prometheus exporter for machine metrics
Requires=network-online.target
After=network-online.target

[Service]
User=ubuntu
Group=ubuntu
Restart=on-failure
ExecStart=/usr/local/bin/node_exporter
NoNewPrivileges=true
ProtectHome=read-only
ProtectSystem=strict

[Install]
WantedBy=multi-user.target